/* Styles General */
.text{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
}
.wrapper-img{
	position: relative;
	padding-top:55.25%;
	overflow: hidden;
}
.wrapper-img img{
	width: 100% !important;
	top: 0;
	left: 0;
	position: absolute;
}

.bg-alpha{
	content: '';
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.3);
}
.text-dark{
	color: #000;
}
.text-center{
	text-align: center !important;
}

.pt-5{
	padding-top: 80px;
}


/* Styles Gird System  */
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	color: aliceblue;
	grid-gap: 10px;
}

#header{
	display: grid;
	grid-column: 1 / span 4;
	height: 250px;
	background-image: url('./pic/chicken-8.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#box-text{
	border-radius: 5px;
	padding: 10px;
	display: grid;
	margin: 0 auto;
	grid-column: 1 / span 4;
}
#box1{
	word-break: break-all;
	border-radius: 5px;
	padding: 10px;
	height: 100%;
	display: grid;
	grid-column: 1 / span 1;
	overflow: hidden;
	border: 1px solid #fff;
	color: #000;
}
#box2{
	border-radius: 5px;
	padding: 10px;
	height: 100%;
	display: grid;
	overflow: hidden;
	grid-column: 2 / span 1;
	color: #000;
	border: 1px solid #fff;
}

#box3{
	border-radius: 5px;
	padding: 10px;
	height: 100%;

	overflow: hidden;

	display: grid;
	grid-column: 3 / span 1;
	color: #000;
	border: 1px solid #fff;
}
#box4{
	overflow: hidden;
	border-radius: 5px;
	padding: 10px;
	height: 100%;
	display: grid;
	grid-column: 4 / span 1;
	color: #000;
	border: 1px solid #fff;
}
#footer {
    margin-top: 50px;
    height: 50px;
    padding: 20px auto;
    text-align: center;
    display: grid;
    padding-top: 29px;
    padding-bottom: 61px;
    grid-column: 1/ span 4;
    color: #fff;
    background-color: #030303;
}
.wrapper-img img:hover{
	transform: scale(1.5);
	transition: 1s;
}

/* Responsive Web Ipad 2 colums */
@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto auto ;
		padding: 10px;
		color: aliceblue;
		grid-gap: 10px;
	}
	
	#box-text{
		border-radius: 5px;
		padding: 10px;
		display: grid;
		margin: 0 auto;
		grid-column: 1 / span 2;
	}
	#header{
		display: grid;
		grid-column: 1 / span 2;
		height: 250px;
		background-image: url('./pic/chicken-8.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	
	#box1{
		
		word-break: break-all;
		overflow: hidden;
		border-radius: 5px;
		padding: 10px;
		height: 100%;
		display: grid;
		grid-column: 1 / span 1;
		color: #000;
	}
	#box2{
		overflow: hidden;
		height: 100%;
		border-radius: 5px;
		padding: 10px;
		display: grid;
		grid-column: 2 / span 1;
		color: #000;
		border: 1px solid #fff;
	}
	
	#box3{
		overflow: hidden;
		height: 100%;
		border-radius: 5px;
		padding: 10px;
		display: grid;
		grid-column: 1 / span 1;
		color: #000;
		border: 1px solid #fff;
	}
	#box4{
		overflow: hidden;
		border-radius: 5px;
		height: 100%;
		padding: 10px;
		display: grid;
		grid-column: 2 / span 1;
		color: #000;
		border: 1px solid #fff;
	}
	
	#footer{
		height: 50px;
		padding:20px auto;
		text-align: center;
		display: grid;
		grid-column: 1/ span 2;
		color: #fff;
		padding-top:20px;
		background-color: #030303;
	}
}

/*Responsive Mobile 1 Column*/
@media only screen and (max-width: 500px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto ;
		padding: 10px;
		color: aliceblue;
		grid-gap: 10px;
	}
	#box-text{
		border-radius: 5px;
		padding: 10px;
		display: grid;
		margin: 0 auto;
		grid-column: 1 / span 1;
	}
	
	#header{
		display: grid;
		grid-column: 1 /  span 1;
		height: 250px;
		background-image: url('./pic/chicken-8.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	#box1{
		
		word-break: break-all;
		overflow: hidden;
		border-radius: 5px;
		padding: 10px;
		height: 100%;
		display: grid;
		grid-column: 1 / span 1;
		border: 1px solid #fff;
		color: #000;
	}
	#box2{
		overflow: hidden;
		height: 100%;
		padding: 10px;
		height: 250px;
		display: grid;
		grid-column: 1 / span 1;
		color: #000;
		border: 1px solid #fff;
	}
	
	#box3{
		overflow: hidden;
		height: 100%;
		padding: 10px;
		height: 250px;
		display: grid;
		grid-column: 1 / span 1;
		color: #000;
		border: 1px solid #fff;
	}
	#box4{
		overflow: hidden;
		border-radius: 5px;
		height: 100%;
		height: 250px;
		display: grid;
		grid-column: 1 / span 1;
		color: #000;
		border: 1px solid #fff;
	}
	
	#footer{
		height: 50px;
		padding:20px auto;
		text-align: center;
		display: grid;
		font-size: 15px;
		grid-column: 1/ span 1;
		color: #fff;
		padding-top:20px;
		background-color: #030303;
	}
}